<div class="box-principal">
<h1 class="titulo-header">Reinaldo Silva<span class="titulo-header--blue"> &lt;Dev&gt;</span> </h1>
<div class="container-menu">
<nav class="nav-principal">
<li class="menu-principal">
    <ul>
      <button type="button" class="btn btn-dark">
      <a routerLink="/">Sobre mim</a>
    </button>
    </ul>
    <ul>
      <button type="button" class="btn btn-dark">
      <a routerLink="/conhecimentos">Conhecimentos</a> 
    </button>
    </ul>
    <ul>
      <button type="button" class="btn btn-dark"> <a routerLink="/projetos">Projetos</a></button>

      
    </ul>
    <ul>
      <button type="button" class="btn btn-dark">
      <a routerLink="/contato">Contato</a> 
    </button>
    </ul>
</li>
</nav>
</div>
</div>
