<div class="container">
    <!-- Content here -->
    <div class="row mt-5">
        <div class="col">
          <h2>Formulario de Contato</h2>
          <form>
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Digite seu email">
              </div>
    
            <div class="form-group">
              <label>Menssagem</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
    
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="submit" class="btn btn-default ml-2">Cancelar</button>
          </form>
        </div>
    
  </div>
  
  