
<div class="container-home">
<h2 class="titulo-1">Desenvolvedor Fullstack Angular com Java</h2>
<div class="box-image">
   <img src="./assets/IMG_20210706_230031.jpg" alt="Imegem de perfil" class="img-perfil">
<div class="texto-bio">
   <p>Olá seja bem vindo(a) a minha Bio!</p> 
   <p>
 Meu nome é Reinaldo, sou estudante de Análise e Desenvolvimento de Sistemas, apaixonado por desenvolver códigos.
 Possuo conhecimentos, em planejamento de software, análise de requisitos, engenharia de software, e sempre procuro aprender mais sobre padrões de projeto, desenvolvimento ágil e código limpo, tenho um conhecimento generalista em algumas linguagens, como python, C#, HTML, CSS, JavaScript, java e typescript e ionic.
 Mas meu foco atualmente é na linguagem Java e Angular e Ionic, onde me desenvolvo a cada dia.
</p>
 <p> Além de gostar de estudar programação, gosto também de viajar, andar de bike, ouvir música e assistir filmes e séries.</p>

</div>
</div>
<section class="content-icons">
<div *ngFor="let icon of icons">
   <img [src]="icon.image" class="img-icon">
</div>
</section>

</div>
