<div class="container">
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a data-bs-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Loja virtual com angular
    </a>
  </li>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
      <p>Sobre o projeto: Site desenvolvido no curso de angular, que se trata de um site e-comerce</p>
 
      <p>Link do código no github:
      <a href="https://github.com/Reinaldo44/proway-computers.git">Projeto no repositorio github</a>
    </p>
    <p>
     Link do projeto na Web <a href="https://reinaldo44.github.io/proway-computers/">Projeto no github pages</a>
    </p>
   <div class="icons-usados">
      <p>
        Linguagens utilizadas: 
        <img class="img-icon" src="/assets/icon_angular.png">
        <img class="img-icon" src="/assets/icon-html.png" alt="">
        <img src="/assets/icon-css.png" alt="" class="imag-icon">
        <img src="/assets/icon-typescript.png" alt="" class="img-icon">
      </p>
   </div>
  </div>
  </div>
  
    <li class="list-group-item"> <a data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Jogo da velha</a>
    </li>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <p>Sobre o projeto: Programa desenvolvido na faculdade na matéria de orientação a objetos com java, foi aplicado conceitos de orientação a objetos com vários métodos, o player joga com o computador tendo três níveis de jogo, fácil, médio e difícil. Foi feito apenas no console, mas foi utilizado bastante regras de lógica no jogo</p>
      <p>
       Link do projeto no github: <a href="https://reinaldo44.github.io/proway-computers/">Repositorio dos códigos do projeto</a>
      </p>
     <div class="icons-usados">
        <p>
          Linguagens utilizadas: 
          <img class="img-icon" src="/assets/icon_java.png">
        </p>
     </div>
    </div>
    </div>
    <li class="list-group-item"><a href="https://github.com/Reinaldo44/ProjetoBanco">Criando banco digital com java</a></li>
    <li class="list-group-item"><a href="https://github.com/Reinaldo44/ApiJogo">Construindo uma api com dotnet de catalogo de jogos</a></li>
    <li class="list-group-item"><a href="https://github.com/Reinaldo44/Serie">Criando cadastro de series com C#</a></li>
  </ul>
</div>