<div class="container">
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a data-bs-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Loja virtual com angular
    </a>
  </li>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
      <p>Sobre o projeto: Site desenvolvido no curso de angular, que se trata de um site e-comerce</p>
      <p>Link do código no github:
      <a href="https://github.com/Reinaldo44/proway-computers.git">Projeto no repositorio github</a>
    </p>
    <p>
     Link do projeto na Web <a href="https://reinaldo44.github.io/proway-computers/">Projeto no github pages</a>
    </p>
   <div class="icons-usados">
      <p>
        Linguagens utilizadas: 
        <img class="img-icon" [src]="icons_angular?.image">
        <img class="img-icon" [src]="icons_html?.image">
        <img [src]="icons_css?.image" alt="" class="imag-icon">
        <img [src]="icons_typescript?.image" alt="" class="img-icon">
      </p>
   </div>
  </div>
  </div>
  
    <li class="list-group-item"> <a data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Jogo da velha</a>
    </li>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <p>Sobre o projeto: Programa desenvolvido na faculdade na matéria de orientação a objetos com java, foi aplicado conceitos de orientação a objetos com vários métodos, o player joga com o computador tendo três níveis de jogo, fácil, médio e difícil. Foi feito apenas no console, mas foi utilizado bastante regras de lógica no jogo</p>
      <p>
       Link do projeto no github: <a href="https://reinaldo44.github.io/proway-computers/">Repositorio dos códigos do projeto</a>
      </p>
     <div class="icons-usados">
        <p>
          Linguagens utilizadas: 
          <img class="img-icon" [src]="icons_java?.image">
        </p>
     </div>
    </div>
    </div>

    <li class="list-group-item"> <a data-bs-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Criando banco digital com java</a>
    </li>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <p>Sobre o projeto: Projeto desenvolvido em um bootcamp de Java, que se trata de um banco digital simples, foi aplicado orientação a objetos, uso de lógica de plrogramação. O maior aprendizado neste plrojeto foi aplicar os pilares da orintação a objetos.</p>
      <p>
       Link do projeto no github: <a href="https://github.com/Reinaldo44/ProjetoBanco">Repositorio dos códigos do projeto</a>
      </p>
     <div class="icons-usados">
        <p>
          Linguagens utilizadas: 
          <img class="img-icon" [src]="icons_java?.image">
        </p>
     </div>
    </div>
    </div>

    <li class="list-group-item"> <a data-bs-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Construindo uma api com dotnet de catalogo de jogos</a>
    </li>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        <p>Sobre o projeto: Este projeto é uma api, desenvolvida na arquitetura MVC com arquitetura moderna desaclopada onde a regra de negócio trabalha independente das camadas de serviço, e repositorio, respeitando os padrões modernos de desenvolvimento, facilitando em manutenções e novas funcionalidades no futuro, armazenando os dados no banco de dados pelo ORM entity.</p>
      <p>
       Link do projeto no github: <a href="https://github.com/Reinaldo44/ApiJogo">Repositorio dos códigos do projeto</a>
      </p>
     <div class="icons-usados">
        <p>
          Tecnologias utilizadas: 
          <img class="img-icon" [src]="icons_dotnet?.image">
          <img class="img-icon" [src]="icons_csharp?.image">
        </p>
     </div>
    </div>
    </div>

    <li class="list-group-item"> <a data-bs-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">Criando cadastro de series com C#</a>
    </li>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
        <p>Sobre o projeto: Este projeto é uma api, desenvolvida na arquitetura MVC com arquitetura moderna desaclopada onde a regra de negócio trabalha independente das camadas de serviço, e repositorio, respeitando os padrões modernos de desenvolvimento, facilitando em manutenções e novas funcionalidades no futuro, armazenando os dados no banco de dados pelo ORM entity.</p>
      <p>
       Link do projeto no github: <a href="https://github.com/Reinaldo44/Serie">Repositorio dos códigos do projeto</a>
      </p>
     <div class="icons-usados">
        <p>
          Tecnologias utilizadas: 
          <img class="img-icon" [src]="icons_dotnet?.image">
          <img class="img-icon" [src]="icons_csharp?.image">
        </p>
     </div>
    </div>
    </div>
  </ul>

</div>