<div class="container">
<div class="shadow p-2 mb-4 bg-body rounded">
   <h3>
      Formação: 
   </h3>
</div>
<h5>Análise e Desenvolvimento de Sistemas</h5>
<div class="shadow p-2 mb-4 bg-body rounded">
<h3>
   Idiomas: 
</h3>
</div>
<h5>Inglês nivels intermediário</h5>
<h5>Portugûes fluente</h5>
<div class="shadow p-2 mb-4 bg-body rounded">
<h3>
Principais conhecimentos em desenvolvimento:
</h3>
</div>
<ul>
   <li>
      Conhecimento sólido em Orientação a Objetos e lógica de programação com Java.
   </li>
   <li> 
      Principais Colections e Classes Java.    
   </li>
   <li>
      Estruturas de dados com Java.
   </li>
    <li>
      Visão geral dos projetos do SringFramework( SpringBoot, SpringData, SpringSecurity ....)
    </li>
    <li>
     Construção Web utilizando o framework SpringBoot com thymeleaf.
    </li>
    <li>
     Criação de Restfull Api com SpringBoot 
    </li>
    <li>
     Manipulação de dados com JPA e Hibernate
    </li>
    <li>
     Domínio da linguagem Sql para manipulação de dados.
    </li>
    <li>
      Atualmente estou usando Banco de dados Mysql, mas sou flexível em trabalhar com outro SGDB.
    </li>
     <li>
     Conhecimento da Arquitetura HTTP, e seus métodos, Json, arquiteturas de desenvolvimento como MVC.
     </li>
     <li>
      Conhecimento em tecnologia de versionamento de código( Git e GitHub ).
     </li>
     <li>
      Conhecimento em tecnologias para manipulação de serviços com Postman e Sweguer.
     </li>
     <li>
      Conhecimento em Teste Unitário Básico.
     </li>
     <li>
      Tenho também um conhecimento em FrontEnd, como HTML + CSS e Bootstrap, Javasript e Angular.
     </li>
     <li>
       Meu nível de inglês atualmente é do Básico para o intermediário onde consigo ler documentação de linguagens por exemplo. Mas assim como os conhecimentos eu procuro sempre estar evoluindo.
     </li>

</ul> 
</div>
