<div class="container">
<div class="shadow p-2 mb-4 bg-body rounded">
   <h3 class="titulo">
      Formação: 
   </h3>
</div>
<h5>Análise e Desenvolvimento de Sistemas</h5>
<p>Data de conclusão: 12/2023 <i class="bi bi-mortarboard"></i></p>
<div class="shadow p-2 mb-4 bg-body rounded">
<h3>
   Idiomas: 
</h3>
</div>
<h5>Inglês nivel intermediário</h5>
<h5>Portugûes fluente</h5>
<div class="shadow p-2 mb-4 bg-body rounded">
<h3>
Hard Skills:
</h3>
</div>
<ul>
   <li>
      Conhecimento sólido em Orientação a Objetos e lógica de programação com Java.
   </li>
   <li> 
      Principais Colections e Classes Java.    
   </li>
   <li>
      Estruturas de dados com Java.
   </li>
    <li>
      Visão geral dos projetos do SringFramework( SpringBoot, SpringData, SpringSecurity ....).
    </li>
    <li>
     Construção Web utilizando Angular.
    </li>
    <li>
     Criação de Restfull Api com SpringBoot.
    </li>
    <li>
     Manipulação de dados com JPA e Hibernate.
    </li>
    <li>
     Domínio da linguagem Sql para manipulação de dados.
    </li>
    <li>
      Atualmente estou usando Banco de dados Mysql, mas sou flexível em trabalhar com outro SGDB.
    </li>
     <li>
     Conhecimento da Arquitetura HTTP, e seus métodos, Json, arquiteturas de desenvolvimento como MVC.
     </li>
     <li>
      Conhecimento em tecnologia de versionamento de código( Git e GitHub ).
     </li>
     <li>
      Conhecimento em tecnologias para manipulação de serviços com Postman e Sweguer.
     </li>
     <li>
      Conhecimento em Teste Unitário Básico.
     </li>
     <li>
      Tenho também um conhecimento em FrontEnd, como HTML + CSS e Bootstrap, Javasript e Angular.
     </li>

</ul> 
<div class="shadow p-2 mb-4 bg-body rounded">
<h3>
   Soft Skills: 
</h3>
</div>
<ul>
   <li>
      Facilidade em trabalhar em equipe.
   </li>
   <li>
      Flexível
   </li>
   <li>
      Criativo
   </li>
   <li>
      Resiliência em conflitos
   </li>
   <li>
      Proativo
   </li>
   <li>
      Gosto de inovar
   </li>
</ul>
</div>
